body {
    background-color: tomato;
    position: relative;
    margin: 0;
    height: 100vh;
}

.disabled {
    display: none !important;
}

/* GRID RELATED STYLES */
#gridContainer {
    margin: 0 auto;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 300px;
    height: 800px;
}

#gridContainer > div {
    display: flex;
}

.cardItem {
    background-color: teal;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    width: 50px;
    height: 50px;
}

.hidden {
    background-color: #000;
    cursor: pointer;
}
/* ================== */


/* GAME CONTROLS/UI */
#gameContainer {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #000;
    color: tomato;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 10px;
    height: 45px;
    min-width: 115px;
    margin: 20px;
    padding: 5px 15px;
    cursor: pointer;
}

button:active {
    background-color: tomato;
    color: #000;
    border: #000 solid 1px;
}

#gameSettings {
    display: flex;
    flex-direction: column;
}

input {
    width: 200px;
    height: 50px;
    font-size: 18px;
    margin-bottom: 20px;
    padding: 0 20px;
    border: none;
    outline: none;
}
/* ================== */


