:root {
    --primary-background-color: tomato;
    --primary-text-color: #000;
    --primary-disabled-color: #000;
    --primary-gamezone-background-color: #d3d3d3;
    --primary-button-background-color: #000;
    --primary-active-button-background-color: tomato;
    --primary-button-text-color: tomato;
    --primary-active-button-text-color: #000;
    --primary-input-border-style: none;
    --primary-disabled-button-background-color: tomato;
    --primary-hidden-card-background-color: #000;
}